.full-page-height-vh.bg-color-blue-700.row.middle-xs.center-xs.color-white
	.col-xs-8.col-md-6.col-lg-3.text-left
		%h1 Facilito Social
		%p Red Social para desarrolladores
		.card.bg-color-white.padding
			=react_component('Registration')